/*-- scss:defaults --*/



$presentation-font-size-root: 34px;  /*Tamanho da fonte em geral*/
$presentation-font-smaller: 0.9; /*Tamanho da fonte interna*/
$presentation-line-height: 1.3;
$body-color: #222;
$presentation-heading-color: $body-color;

/*-- scss:rules --*/